extends layout 

block content
    h1 Send a message
    form(action="/new" method="POST" class="form")
        label(for="name") Your Name
        input(type="text" name="name" required)
        label(for="message") Message
        input(type="text" name="message" required) 
        input(type="submit" value="Submit")