body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgb(78, 112, 112);
    color: white;
}

a {
    color: #00b7ff;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

input[type="submit"] {
    width: 100px;
}
